.todo-content {
    display: flex;
    justify-content: space-between;
}

.icons > button {
    margin-left: .2em;
    margin-right: .2em;
}

.action-buttons {
    display: grid;
    place-content: center;
}